<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tongxin.mapper.EmployeeMapper">

	<resultMap type="com.tongxin.domain.Employee" id="employeeMap">
		<id column="id" property="id"/>
		<association property="dept" column="dept_id" javaType="com.tongxin.domain.Department" 
		select="com.tongxin.mapper.DepartmentMapper.findById"/>
			
	</resultMap>

	<select id="findById" parameterType="long" resultMap="employeeMap">
		select * from t_employee where id = #{id}
	</select>

	<select id="getAll" resultMap="employeeMap">
		select * from t_employee
	</select>
	
	
	<insert id="save" parameterType="com.tongxin.domain.Employee">
		INSERT INTO t_employee (username, password, email, dept_id) 
		VALUES (#{username},#{password},#{email},#{dept.id})
	</insert>
	
	<update id="update" parameterType="com.tongxin.domain.Employee">
		update t_employee set username=#{username},password=#{password},email=#{email} 
		where id=#{id}
	</update>
	
	<delete id="del" parameterType="long">
		delete from t_employee where id=#{id}
	</delete>
</mapper> 